/**
 * Snippet name
 * Extended snippet description
 * 
 * @snippet-name Snippet Name
 * @snippet-description Summary snippet description
 * @snippet-version 1.0
 * @snippet-author Your Name
 * @snippet-source https://example.com
 *
**/

